$primary: #FF1D6C;
$primary_light: #ff6b9f;
$secondary: #FFB72C;
$tertiary: #007350;
$background: #efefef;
$black: #0D0B0C;
$gray: #ACACAC;
$white: #fff;

//10px
$space_s: 0.625rem;
//30px
$space_m: 1.875rem; 
//60px
$space_l: 3.75rem;

//12
$fz-s: 0.75rem;
//14
$fz-m: 0.875rem;
//20
$fz-l: 1.25rem;